body {margin:0;}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: larger;
  font-family: courtier;
}
li a:hover:not(.Aktiv) {
  background-color: #44444E;
}
.Aktiv {
  background-color: beige;
  color: #333;
}
* {box-sizing: border-box;}
.pic {
  float:left;
  width:30%;
  height:auto;
  background-color:#333;
}
.pic img {width:100%}
.textPic {
  float:left;
  width:70%;
  height:auto;
}
.textPic p {
  padding-left:10px;
  padding-top:0;
  margin-top:0;
}
.about-h1 {
  display:block;}
@media screen and (max-width: 700px) {
  .pic {float:none;width:100%}
  .textPic {float:none;width:100%;margin-top:10px;}
  li a {float:none;}
  nav {position: static;}
  .about-h1 {display:none;}
}
